#content{
	width:100%;
	height:640px;
}
#left{
	width:25%;
	height:620px;
	margin-left:80px;
	float:left;
}
.left1{
	border:1px solid white;
	width:327px;
	height:320px;
	background-image:url(image/hb3.png);
	background-repeat:no-repeat;
	background-size:327px 320px;
}
.pinzhong{
	width:250px;
	height:230px;
	margin-top:90px;
	margin-left:40px;
}
.list1{
	font-size:18px;
	padding-left:60px;
	padding-top:30px;
	color:#522A06;
    line-height:30px;
}
.yanse{
	color:white;
}
.yanse2{
	color:#522A06;
	font-weight:bolder;
}
.left2{
    border:1px solid white;
	width:327px;
	height:300px;
	margin-top:5px;
	background-image:url(image/jbh.jpg);
	background-repeat:no-repeat;
	background-size:327px 300px;
}
#right{
	width:60%;
	height:640px;
	margin-left:10px;
	float:left;
}
.right1_title{
	width:800px;
	height:50px;
	background-color:#522A06;
	margin-top:5px;
	float:left;
}
.right1_title2{
    width:200px;
	height:30px;
	margin-top:8px;
	margin-left:300px;
	float:left;
}
.more{
	width:100px;
	height:30px;
	margin-left:30px;
	margin-top:30px;
	float:right;
}
.right1_neilong{
	width:800px;
	height:250px;
	margin-top:55px;
}
.fengexian{
	width:800px;
	height:30px;
	float:left;
}
#english2{
	color:#522A06;
	font-size:40px;
    font-family:'Edwardian Script ITC';
}
.pic1{
	border:1px solid #522A06;
	width:260px;
	height:250px;
	margin-top:10px;
	background-image:url(image/mscoffee.jpg);
	background-repeat:no-repeat;
	background-size:260px 250px;
	float:left;
}
.pic1_b{
	width:260px;
    height:40px;
    background:#000;
    position:relative;
    top:210px;
    right:0px;
    opacity:0.7;
}
.mscoffee{
	width:120px;
    height:40px;
    margin-left:48px;
    float:left;
}
.pic2{
	border:1px solid #522A06;
	width:260px;
	height:250px;
	margin-top:10px;
	margin-left:5px;
	background-image:url(image/kbqncoffee2.jpg);
	background-repeat:no-repeat;
	background-size:260px 250px;
	float:left;
}
.pic2_b{
	width:260px;
    height:40px;
    background:#000;
    position:relative;
    top:210px;
    right:0px;
    opacity:0.7;
}
.kbqncoffee{
	width:120px;
    height:40px;
    margin-left:48px;
    float:left;
}
.pic3{
	border:1px solid #522A06;
	width:260px;
	height:250px;
	margin-top:10px;
	margin-left:5px;
	background-image:url(image/mkcoffee2.jpg);
	background-repeat:no-repeat;
	background-size:260px 250px;
	float:left;
}
.pic3_b{
	width:260px;
    height:40px;
    background:#000;
    position:relative;
    top:210px;
    right:0px;
    opacity:0.7;
}
.mkcoffee{
	width:120px;
    height:40px;
    margin-left:48px;
    float:left;
}
right1_neilong2{
	border:1px solid #522A06;
	width: 800px;
	height:400px;
}
#footer{
	width:100%;
	height:90px;
	background-image:url(image/titlebg2.jpg);
	background-repeat:no-repeat;
	background-size:100% 90px;
}
.footer_list{
	height:20px;
	width:600px;
	position:relative;
    left:400px;
    top:20px;
}
.footer_list2{
	height:20px;
	width:520px;
	position:relative;
	top:20px;
    left:460px;
}
.footer_list3{
	height:20px;
	width:520px;
	position:relative;
	top:20px;
    left:500px;
}
.pingjia{
	width:800px;
	height:200px;
	margin-left:20px;
	margin-top:75px;
}
.star{
	margin-left:20px;
	margin-top:10px;
}
.pingjia_comment1{
	margin-left:600px;
}
.pingjia_size{
	width:600px;
	height:200px;
}
#text{
    width:585px;
    height:200px;
    text-align: center;
    font-size:20px;
}
body{
	font:15px '幼圆';
	color:white;
	padding:0px;
}
a{
    text-decoration:none;
    color:white;
}
a:hover{
	color:orange;
	text-decoration: underline;
}
#header{
	width:100%;
	height:180px;
	background-image:url(image/titlebg2.jpg);
	background-repeat:no-repeat;
	background-size:100% 180px;
}
#logo{
	width:150px;
	height:140px;
	margin-top:6px;
	margin-left:156px;
	float:left;
}
.search{
	width:300px;
	height:40px;
	margin-top:20px;
	float:right;
}
#text{
    width:200px;
    height:30px;
    background-color:#f8f5ee;
}
#button{
    width:48px;
    height:30px;
    margin-left:5px;
    margin-top:3px;
    background-color:#522A06;
    color:white;
}
#search1{
	width:200px;
	height:30px;
	position:relative;
    top:5px;
    float:left;
}
#search2{
	width:48px;
    height:30px;
    position:relative;
    top:5px;
	float:left;
}
#wenzi{
	width:120px;
    height:30px;
    margin-left:180px;
}
.wenzi{
	font-family:'方正舒体';
}
#english{
	width:500px;
    height:30px;
    margin-top:-3px;
    margin-left:360px;
}
.english{
	font-size:60px;
    font-family:'Edwardian Script ITC';
}
.banner{
	width:860px;
    height:30px;
    margin-top:40px;
    margin-left:380px;
}
#nav{
    margin-top:20px;
	list-style:none;
	line-height:27px;
}
#nav a:link,#nav a:visited{
	display:block;
	width:100px;
	color:white;
	text-align:center;
	text-decoration:none;
	background:#522A06;
}
#nav a:hover{
	text-decoration:underline;
	font-weight:bold;
	background:#FFAF60;
}
#nav ul{list-style: none;}
#nav li{
	float:left;
	width:100px;
}
#nav li ul li a:hover{
	background:#FFAF60;
}
#nav li ul{
	width:100px;
	padding-left: 0px;
	display:none;
}
#nav li.subMenuShow ul{
	position:absolute;
	z-index:999;
	width:100px;
    display:block;
}
.title{
	font:20px '幼圆';
	color:white;
}
